<%= provide(:title, "detroit youth and dog rescue") %>

<h20>detroit youth and dog rescue</h20>
<hr>
<a align="center" href="www.paypal.com">DONATE</a>
<a align="center" href="mailto:detroityouthanddogrescue@gmail.com">EMAIL</a>
<a href="tel:13134002582">CALL</a>
<hr>
<h20>
Our Mission is to Change the World through Compassion and Understanding for All Creatures on Mother Earth and Rescue Every dog we can WhenEver Possible!!!
</h20>
<p>
</p>

